# Variables

In [8]:
var = str("test1")
var # python know its string

'test1'

In [7]:
var2 = int(22)
var2 # its know integer

22

In [10]:
a = 100
b = 3.45
c = 3 + 4j
d = 'python'
e = [3,4,5]
f = (10,20,30)
g = {9,8,7,32,1}
h = {'a':100,'b':200}

In [11]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [ ]:
How to assign variable,
we can use 
var3 #alphabet+number
var_2 # alphabet + _ + number
_var1 # _ + alphabet
var_# alpha + _

# Types of Variables

1. global variables  >> Variables which are declared outside the function
2. local variables   >> Variables which are declared inside the function

We can access global variable from outside the function and inside the function
local >> We can not access local variables from outside the function

In [3]:
#Example:
name = 'Rohit sharma'  # Global variable
def my_function():    # Defining a function
    x = 100           # Local variable
    
    
my_function()        # Function calling

In [4]:
#New variable inside of function and access in print
name = 'Rohit sharma'  # Global variable
def my_function():    # Defining a function
    x = 100           # Local variable
    print(name)
    print(x)
    
    
my_function() 
print(name)

Rohit sharma
100
Rohit sharma

In [5]:
#Error : because we cant access block value to outside.
name = 'Rohit sharma'  # Global variable
def my_function():    # Defining a function
    n = 100           # Local variable
    print(name)
    print(n)
    
    
my_function() 
print(name)
print(n) # n is inside of block of code

Rohit sharma
100
Rohit sharma

NameError: name 'n' is not defined

In [6]:
# To access local variable to global, we use global
name = 'Rohit sharma'  # Global variable
def my_function():    # Defining a function
    global y
    y = 100           # Local variable
    print(name)
    print(y)
    
    
my_function() 
print(y)
print(name)

Rohit sharma
100
100
Rohit sharma

# Delete Variable

del keyword is used to delete any variable

In [ ]:
var_ds = 'Data science'
var_ds # here you can access the value

In [13]:
del var_ds #here you deleted the variable, now you cant access the value
var_ds

NameError: name 'var_ds' is not defined

# Numeric DataTypes

1. int
int >> built in function
whole number
+ve or -ve number
10
30
-35
-50

In [14]:
a = 10
type(a)

int

In [15]:
a = -50
type(a)

int

2. float
+ve or -ve
It contains decimal point
3.14, 3.0 , -3.0

In [ ]:
x = 3.14
type(x)

In [ ]:
x = -3.0
type(x)

In [ ]:
3. Complex
It contain real and imaginary part  (a + bj)

x = 3 + 4j
x = 3 - 4j
x = -3 - 4j

In [ ]:
x = 3 + 4j
type(x)

In [ ]:
x = 4j    # 0 + 4j
type(x)

In [ ]:
x = 0 + 0j
type(x)

# Python Casting/ Type Conversion

int to float
float to int
int,float to complex
complex to int,float 
int,float to str
str to int,float

In [17]:
# 1. int to float
# convert a into float
a = 56  # int
b = float(a)
type(b)

float

In [ ]:
#2 . float to int 
# convert a into integer
a = 3.14  # float
int(a)

In [ ]:
#3. int to complex
x = 45  # int
complex(x)

In [ ]:
#4 . float to complex
x = 4.45   # float
complex(x)

In [ ]:
x = 4+5j
int(x) # not possible

In [ ]:
#5. complex to int or float
"""can't convert complex to int
can't convert complex to float"""

In [ ]:
#6. int to string
a = 55
str(a) # it will return in qoute

In [ ]:
#7. float to string
a = 4.567
str(a)
# string = 'python' >> the python is in string type

In [ ]:
#8. string to int
# string can only be converted into int or float if string is numberic

str1 = '2345' 
int(str1) #it will return in number

# Round function

In [1]:
# round a upto 2 decimal places
a = 4.56789
round(a,2) # (varibale, length)

4.57

In [2]:
a = 4.56289
round(a,3)

4.563