# List

In [ ]:
It a collection of items
data types >> int , str, float, list, tuple, dict, set, etc

It is used to store sequence of various data types

In [ ]:
# Properties of list
1. Ordered data type
2. Mutable >> Changable  >> add , delete, update
3. duplicates are allowed   
4. enclosed by square brackets >> [] 
5. lists items are comma seperated

In [2]:
list_var = ['python', 6,'a',2,10,7,6,7]
list_var

['python', 6, 'a', 2, 10, 7, 6, 7]

In [3]:
# List can have items of any datatype
list1 = [10,5.5,4+5j,'python',[1,2,3,4],(5,6,7),{8,9,2},{'a':10,'b':20}]
print(list1)

[10, 5.5, (4+5j), 'python', [1, 2, 3, 4], (5, 6, 7), {8, 9, 2}, {'a': 10, 'b': 20}]

In [4]:
type(list1)

list

In [5]:
# length of list
len(list1)

8

# Indexing

In [ ]:
Python indexing start with 0
list1 >>        [ 3,  6,  1,  9,  4]
+ve index >>      0   1   2   3   4 
-ve index >>     -5  -4  -3  -2 -1

In [6]:
list2 = [20,30,10,4,5,7,8,3]
list2[1] #number is index of list

30

In [7]:
list2[-2]

8

# Slicing

In [ ]:
# list3[start_index:end_index:stepsize]

In [8]:
list3 = [20,30,10,4,5,7,8,3]
print(list3[:])  # return all value due to no conditions

[20, 30, 10, 4, 5, 7, 8, 3]

In [9]:
list3 = [20,30,10,4,5,7,8,3]
print(list3[:3])

[20, 30, 10]

In [10]:
list5 = [20,30,10,4,5,7,8,3]
print(list5[2:])

[10, 4, 5, 7, 8, 3]

In [11]:
list6 = [20,30,10,4,5,7,8,3]
print(list6[::-1]) # reverse

[3, 8, 7, 5, 4, 10, 30, 20]

# Access list items by using for loop

In [ ]:
for variable in sequence:
    print(variable)
    statement1
    statement2

In [12]:
# print city
city_names = ['Pune', "Mumbai", "Delhi", 'Chennai',"Bangalore"]

for i in city_names:
    print(i)

Pune
Mumbai
Delhi
Chennai
Bangalore

In [ ]:
# print city
city_names = ['Pune', "Mumbai", "Delhi", 'Chennai',"Bangalore"]

for city in city_names:
    print(city) #you can change the iteration variable or loop variable

# List Functions

In [ ]:
1. append()   # To add only one item
2. extend()   # To add list
3. insert()   # To add item at specified index
4. remove()
5. pop()
6. clear()
7. sort()
8. reverse()
9. index()
10. count()
11. del keywords

In [ ]:
1. append()

# synatx ::= list.append(value)
# We can add only one value/item in list
# item will get added at last index

In [13]:
# Add Delhi and print the list
city_names = ['Mumbai','Pune']  
city_names.append('Delhi')
city_names

['Mumbai', 'Pune', 'Delhi']

In [ ]:
2. extend()
# add 2 lists
# list1.extend(list2)

In [14]:
# Add both the lists and print both
city_names1 = ['Mumbai','Pune']
city_names2 = ['Delhi','Chennai','Hyderabad']
city_names1.extend(city_names2)
city_names1

['Mumbai', 'Pune', 'Delhi', 'Chennai', 'Hyderabad']

In [15]:
# Add both the lists and print both
city_names1 = ['Mumbai','Pune']
city_names2 = ['Delhi','Chennai','Hyderabad']
city_names2.extend(city_names1)
city_names2

['Delhi', 'Chennai', 'Hyderabad', 'Mumbai', 'Pune']

# Add 2 list(concat) using + operator

In [16]:
city_names1 = ['Mumbai','Pune']
city_names2 = ['Delhi','Chennai','Hyderabad']
city_names1+city_names2

['Mumbai', 'Pune', 'Delhi', 'Chennai', 'Hyderabad']

In [17]:
# use * operator
city_names1 = ['Mumbai']
print(city_names1*3)

['Mumbai', 'Mumbai', 'Mumbai']

In [ ]:
3. insert()
list1.insert(index,value)

In [19]:
# insert 50 at 1st index
list7 = [10,20,30,40]
list7.insert(1,50)
list7

[10, 50, 20, 30, 40]

In [20]:
list7.insert(3,'python')
list7

[10, 50, 20, 'python', 30, 40]

# Replace items in a list

In [21]:
# Replace 2nd index item with Kolkata
city_names = ['Delhi', 'Chennai', 'Hyderabad', 'Mumbai', 'Pune']  # 5
city_names[2] = 'Kolkata'
city_names

['Delhi', 'Chennai', 'Kolkata', 'Mumbai', 'Pune']

# Delete items from list
4. remove
5. pop
6. clear
7. del

In [ ]:
4. remove()
list.remove(item)

In [23]:
# Remove Bio from the list
sub_names = ["Phy","Che","Math","Bio",'Eng']   
sub_names.remove("Bio")
sub_names

['Phy', 'Che', 'Math', 'Eng']

In [ ]:
5. pop()
list.pop(index)
default index value >> -1 (end value)

In [24]:
# Remove last index item
sub_names = ["Phy","Che","Math","Bio",'Eng']
sub_names.pop()
sub_names

['Phy', 'Che', 'Math', 'Bio']

In [25]:
# Remove 1st index item
sub_names = ["Phy","Che","Math","Bio",'Eng']  
sub_names.pop(1)
sub_names

['Phy', 'Math', 'Bio', 'Eng']

In [ ]:
6. clear()
Remove all items from list

In [26]:
sub_names = ["Phy","Che","Math","Bio",'Eng']
sub_names.clear()
sub_names

[]

In [ ]:
11. del keyword
remove items using index value

In [28]:
# delete 2nd index item
sub_names = ["Phy","Che","Math","Bio",'Eng']
del sub_names[2]  # This same as pop function
sub_names

['Phy', 'Che', 'Bio', 'Eng']

In [ ]:
8. Reverse
# Reverse the list

In [34]:
numbers = [10,4,20,5,1,23,67,6]
numbers[::-1]

[6, 67, 23, 1, 5, 20, 4, 10]

In [35]:
numbers = [10,4,20,5,1,23,67,6]
numbers.reverse() # Reverse the list
numbers

[6, 67, 23, 1, 5, 20, 4, 10]

In [ ]:
9. Index
to know position of item in list

In [29]:
sub_names = ["Phy","Che","math","bio",'Eng']
sub_names.index('math') #case sensitive

2

In [ ]:
10. count()
to count items in list

In [31]:
# Find the count of maths in list
sub_names = ["Phy","maths","Che","maths","bio",'Eng',"Math"]

sub_names.count('maths')

2

# Sorting
1. ascending order
2. descending order

In [32]:
# 1. ascending order
numbers = [10,4,20,5,1,23,67,6]
numbers.sort()  # reverse=False >> Ascending
numbers

[1, 4, 5, 6, 10, 20, 23, 67]

In [ ]:
# 2. Descending order

In [33]:
numbers = [10,4,20,5,1,23,67,6]
numbers.sort(reverse=True)  # Descending
numbers

[67, 23, 20, 10, 6, 5, 4, 1]

# Built-in Functions:
1. sum()
2. min()
3. max()

In [ ]:
1.max()
it return the highest value in list

In [36]:
list13 = [3,4,5,6,10,30,2,40,50,11] 
max(list13)

50

In [ ]:
2.min()
it return the lowest value in list

In [37]:
list13 = [3,4,5,6,10,30,2,40,50,11] 
min(list13)

2

In [38]:
3.sum()
it sum the items in list

SyntaxError: invalid decimal literal (883938649.py, line 1)

In [39]:
list13 = [3,4,5,6,10,30,2,40,50,11] 
sum(list13)

161