string  :  Ordered, Immutable, Duplicates are allowed,  ""
list    :  Ordered, Mutable,   Duplicates are allowed,  []
tuple   :  Ordered, Immutable, Duplicates are allowed,  ()
set     : Unordered,Mutable,   Duplicates are not allowed, {}

list1 = []   # list()
tuple1 = ()  # tuple()
string = ""   # str()
dict1 = {} # dict()
set1 = set() # set()

In [1]:
# Unordered, duplicates are not allowed
set1 = {13,95,20,'python',19.5,20}
set1

{13, 19.5, 20, 95, 'python'}

In [2]:
# Ordered datatype
list1 = [13,95,20,'python',19.5,20]
list1 #mutable

[13, 95, 20, 'python', 19.5, 20]

In [4]:
list1[2] = 'data'
list1

[13, 95, 'data', 'python', 19.5, 20]

In [3]:
# check the datatype
var1 = {'a' : 100, 'b': 200} #key:value
type(var1)

dict

In [5]:
# check the datatype
var = {1,2,3,5,6}
type(var)

set

# set properties

1. Unordered
2. Mutable
3. Duplicates are not allowed
4. set are enclosed by {}

In [6]:
# Set is unordered datatype
set1 = {2,3,'a',5,1,'b',10,20,15,3.14,5.67}
set1

{1, 10, 15, 2, 20, 3, 3.14, 5, 5.67, 'a', 'b'}

In [7]:
# List is ordered datatype
list1 = [2,3,'a',5,1,'b',10,20,15,3.14,5.67]
list1

[2, 3, 'a', 5, 1, 'b', 10, 20, 15, 3.14, 5.67]

In [8]:
# Duplicate items are not allowed in set
set1 = {2,3,'a',5,1,'b',10,20,15,3.14,5.67,10,20,30}
set1

{1, 10, 15, 2, 20, 3, 3.14, 30, 5, 5.67, 'a', 'b'}

In [9]:
# Duplicate items are allowed in list
list1 = [2,3,'a',5,1,'b',10,20,15,3.14,5.67,10,20,30]
list1

[2, 3, 'a', 5, 1, 'b', 10, 20, 15, 3.14, 5.67, 10, 20, 30]

# Access set items

We can not indexing and slicing in set data type

In [10]:
# use indexing to access items
set1 = {'phy','che','math','eng','bio'}
set1

{'bio', 'che', 'eng', 'math', 'phy'}

In [11]:
set1[1] #cant do indexing

TypeError: 'set' object is not subscriptable

# Set Functions

1. add()
2. update()
3. remove()
4. discard()
5. pop()
6. clear()

1. add()
Used to add only one item in set
syntax: set.add(item)

In [12]:
# Add python
set1 = {3,4,5,6,7}
set1.add("python")
set1

{3, 4, 5, 6, 7, 'python'}

In [13]:
set1.add('Java')
set1

{3, 4, 5, 6, 7, 'Java', 'python'}

2.update()
It is used to add 2 sets
syntax: set1.update(set2)

In [17]:
set1 = {10,20,30,50,60,25}
set2 = {5,15,25,35}

set1.update(set2)
set1

{5, 10, 15, 20, 25, 30, 35, 50, 60}

In [19]:
set1 = {10,20,30,50,60,25}
set2 = {5,15,25,35}
set2.update(set1)
set2

{5, 10, 15, 20, 25, 30, 35, 50, 60}

3.remove()
It removes a specified item from the set
It give error if the item is not present in the set

set.remove(item)

In [20]:
# remove eng
sub_names = {'phy','che','math','eng','bio'}

sub_names.remove('eng')
sub_names

{'bio', 'che', 'math', 'phy'}

4.discard()
It removes a specified item from the set
It doesnt give error if the item is not present in the set
syntax: set.discard(item)

In [21]:
# using discard delete eng
sub_names = {'phy','che','math','eng','bio'}
sub_names.discard('eng')
sub_names

{'bio', 'che', 'math', 'phy'}

In [ ]:
5.pop()
It will delete random item from set
syntax: set.pop()

In [22]:
sub_names = {'phy','che','math','eng','bio'}
sub_names.pop()
sub_names #Randomly remove 1 items

{'bio', 'che', 'math', 'phy'}

6.clear()
Used to remove all items from set
syntax: set.clear()

In [23]:
sub_names = {'phy','che','math','eng','bio'}
sub_names.clear()
sub_names

set()

7. del
delete item using index

In [25]:
# use del keyword in set 
sub_names = {'phy','che','math','eng','bio'}
del sub_names[2] #set doesn't support item deletion
sub_names

TypeError: 'set' object doesn't support item deletion