Data Types
str    : Ordered,    Immutable ,  Duplicates are allowed,   " "
list   : Ordered,    Mutable,     Duplicates are allowed,   []
tuple  : Ordered,    Immutable,   Duplicates are allowed,   ()
Set    : Unordered   Mutable,     Duplicates are not allowed, {}
dict   : Ordered(python>=3.7) , Mutable, Duplicates keys are not allowed {}

# Dict Properties

dict1 = {Key1 : Value1, Key2 : Value2}
1. It is collection of key and value pair
2. We can not access item by using index
3. Duplicates keys are not allowed, but values can be duplicate
4. dict are comma seperated
5. dict are enclosed by {}

Ordered  - If python >= 3.7
Unordered - If Python < 3.7  (3.6,3.5)


Key  - Immutable DataTypes (int,float,string, tuple,frozenset)
values - Any DataTypes (int,float,string, tuple, list, set, dict, etc)

In [1]:
# check datatype
dict1 = {"a" : [10,30,40,50], 'b': 200}
type(dict1)

dict

In [2]:
len(dict1)

2

In [3]:
# check datatype
set1 = {}
type(set1)

dict

In [4]:
#list vs dict
dict1 = {1 : [10,30,40,50], 3.5: 200, (3,4,5,6):'python'}

print(dict1,len(dict1))

{1: [10, 30, 40, 50], 3.5: 200, (3, 4, 5, 6): 'python'} 3

In [5]:
dict1 = {1 : [10,30,40,50], 3.5: 200, [3,4,5,6]:'python'}

print(dict1,len(dict1)) #error there is list []

TypeError: unhashable type: 'list'

In [6]:
# Duplicate keys are not allowed
dict1 = {'Name': 'Rohit', 'Age': 15, 'Marks': 90, 'Place' : 'Pune', 'Name':'Ajay'}
dict1 #it take last key if key are duplicate

{'Name': 'Ajay', 'Age': 15, 'Marks': 90, 'Place': 'Pune'}

In [7]:
# Duplicate values are allowed
dict1 = {'Name': 'Rohit', 'Age': 15, 'Marks': 90, 'Place' : 'Pune', 'StudName':'Rohit'}
dict1

{'Name': 'Rohit', 'Age': 15, 'Marks': 90, 'Place': 'Pune', 'StudName': 'Rohit'}

# Dictionary functions

1. get()
2. update()
3. pop()
4. popitem()
5. clear()
6. keys()
7. values()
8. items()

1.get()
syntax: dict.get(KeyName)   # This is used to access the values

In [13]:
employee_data = {'Employee Name': "Prashant",
                'Company Name': 'Zensar',
                "Salary": 50000,
                'Designation' : "Data Scientist"}

In [14]:
# Access Employee Name using 1st method
employee_data['Employee Name']

'Prashant'

In [15]:
# Access Employee Name using get
employee_data.get('Employee Name')

'Prashant'

In [16]:
# Access Designation using get
employee_data.get('Designation')

'Data Scientist'

# Key, value, items function

In [17]:
employee_data = {'Employee Name': "Prashant",
                'Company Name': 'Zensar',
                "Salary": 50000,
                'Designation' : "Data Scientist"}

In [18]:
# use keys function to find out list of all the keys in the dict
employee_data.keys()

dict_keys(['Employee Name', 'Company Name', 'Salary', 'Designation'])

In [19]:
# use values function to find out list of all the values in the dict
employee_data.values()

dict_values(['Prashant', 'Zensar', 50000, 'Data Scientist'])

In [20]:
# use items function to find out all keys and values
employee_data.items()

dict_items([('Employee Name', 'Prashant'), ('Company Name', 'Zensar'), ('Salary', 50000), ('Designation', 'Data Scientist')])

# Add items in Dictionary

1. Add single item
syntax: dict[newkey] = newvalue

In [21]:
# Add E with 90 as value
stud_marks = {'A': 60,
              'B': 80,
              'C': 80,
              'D': 75}

stud_marks['E'] = 90
stud_marks

{'A': 60, 'B': 80, 'C': 80, 'D': 75, 'E': 90}

In [22]:
# Add B with 90 as value 
stud_marks = {'A': 60,
              'B': 80,#(value will get update)
              'C': 80,
              'D': 75}

stud_marks['B'] = 90
stud_marks

{'A': 60, 'B': 90, 'C': 80, 'D': 75}

2.update()
It is used to add 2 dictionary
syntax: dict1.update(dict2)

In [24]:
employee_data = {'Employee Name': "Prashant",
                'Company Name': 'Zensar',
                "Salary": 50000,
                'Designation' : "Data Scientist"}

new_data = {'Company Location' : 'Mumbai',
           'Age': 30,
           'Employee ID' : 'ZS1001',
           'Company Name': 'TCS'}

employee_data.update(new_data)
employee_data

{'Employee Name': 'Prashant',
 'Company Name': 'TCS',
 'Salary': 50000,
 'Designation': 'Data Scientist',
 'Company Location': 'Mumbai',
 'Age': 30,
 'Employee ID': 'ZS1001'}

In [25]:
# Add Company Location as Mumbai
employee_data = {'Employee Name': "Prashant",
                'Company Name': 'Zensar',
                "Salary": 50000,
                'Designation' : "Data Scientist"}
employee_data['Company Location'] = 'Mumbai'
employee_data

{'Employee Name': 'Prashant',
 'Company Name': 'Zensar',
 'Salary': 50000,
 'Designation': 'Data Scientist',
 'Company Location': 'Mumbai'}

In [26]:
# Add Company Location as Mumbai
employee_data = {'Employee Name': "Prashant",
                'Company Name': 'Zensar',
                "Salary": 50000,
                'Designation' : "Data Scientist"}
employee_data.update({'Company Location':'Mumbai'})#dictionary method
employee_data

{'Employee Name': 'Prashant',
 'Company Name': 'Zensar',
 'Salary': 50000,
 'Designation': 'Data Scientist',
 'Company Location': 'Mumbai'}

In [27]:
# Add Company Name as Accenture
employee_data = {'Employee Name': "Prashant",
                'Company Name': 'Zensar',
                "Salary": 50000,
                'Designation' : "Data Scientist"}

employee_data.update({'Company Name':'Accenture'})
employee_data

{'Employee Name': 'Prashant',
 'Company Name': 'Accenture',
 'Salary': 50000,
 'Designation': 'Data Scientist'}

# Acess Dictionary items

syntax: dict[KeyName]   # This is used to access the values

In [8]:
dict1 = {'Name': 'Rohit', 'Age': 15, 'Marks': 90, 'Place' : 'Pune'}
dict1

{'Name': 'Rohit', 'Age': 15, 'Marks': 90, 'Place': 'Pune'}

In [9]:
# Access Name
dict1['Name']

'Rohit'

In [10]:
# Access Place
dict1['Place']

'Pune'

In [11]:
# Access the keys by using values
dict1 = {'Name': 'Rohit', 'Age': 15, 'Marks': 90, 'Place' : 'Pune', 'Name':'Ajay'}
dict1[15] # you cant access by value because values can be multiple

KeyError: 15

# Delete items from dictionary
1. pop()
2. popitem()
3. clear()
4. del keyword

1. pop()
Removes the item of the specified key
syntax: dict.pop(key)

In [28]:
# delete Salary
d1 = {'Employee Name': "Prashant",
        'Company Name': 'Zensar',
        "Salary": 50000,
        'Designation' : "Data Scientist"}

d1.pop('Salary')
d1

{'Employee Name': 'Prashant',
 'Company Name': 'Zensar',
 'Designation': 'Data Scientist'}

In [29]:
d1.pop('Company Name')

'Zensar'

In [30]:
d1

{'Employee Name': 'Prashant', 'Designation': 'Data Scientist'}

2. popitem()
Remove last inserted item
syntax: dict.popitem()

In [31]:
d1 = {'Employee Name': "Prashant",
        'Company Name': 'Zensar',
        "Salary": 50000,
        'Designation' : "Data Scientist"}

d1.popitem()
d1

{'Employee Name': 'Prashant', 'Company Name': 'Zensar', 'Salary': 50000}

3.clear()
Removes all the items from dictionary

In [32]:
d1 = {'Employee Name': "Prashant",
        'Company Name': 'Zensar',
        "Salary": 50000,
        'Designation' : "Data Scientist"}

d1.clear()
d1

{}

4. del key
Removes the item of the specified key
syntax: del dict[keyname]

In [33]:
# delete Designation
d1 = {'Employee Name': "Prashant",
        'Company Name': 'Zensar',
        "Salary": 50000,
        'Designation' : "Data Scientist"}


del d1['Designation']
d1

{'Employee Name': 'Prashant', 'Company Name': 'Zensar', 'Salary': 50000}

# Nested Dictionary
dictionary in dictionary

In [38]:
emp_details = {'CG0001' : {'Employee Name': 'Sagar',
                              'Salary': 70000,
                              'Designation':'Python Developer'},
              'CG0002':   {'Employee Name': 'Akash',
                              'Salary': 80000,
                              'Designation':'Data Scientist'},
              'CG0003':   {'Employee Name': 'Ajay',
                              'Salary': 60000,
                              'Designation':'ML Developer'}}

print(emp_details,len(emp_details))

{'CG0001': {'Employee Name': 'Sagar', 'Salary': 70000, 'Designation': 'Python Developer'}, 'CG0002': {'Employee Name': 'Akash', 'Salary': 80000, 'Designation': 'Data Scientist'}, 'CG0003': {'Employee Name': 'Ajay', 'Salary': 60000, 'Designation': 'ML Developer'}} 3

In [39]:
# Access value of CG0003 key
emp_details["CG0003"]

{'Employee Name': 'Ajay', 'Salary': 60000, 'Designation': 'ML Developer'}

In [40]:
# Access Designation of CG0003
emp_details["CG0003"]["Designation"]

'ML Developer'

In [41]:
# Access Salary of CG0003
emp_details['CG0003']['Salary']

60000

In [43]:
# Access City
emp_details = {'CG0001' : {'Employee Name': 'Sagar',
                              'Salary': 70000,
                              'Designation':'Python Developer'},
               
              'CG0002':   {'Employee Name': 'Akash',
                              'Salary': 80000,
                              'Designation':'Data Scientist',
                          'Location':{"State":"Maharashtra",'City':'Pune'}},
               
              'CG0003':   {'Employee Name': 'Ajay',
                              'Salary': [60000,80000,90000],
                              'Designation':'ML Developer'}}

emp_details['CG0002']['Location']['City']

'Pune'

In [44]:
# Access 1st salary
emp_details = {'CG0001' : {'Employee Name': 'Sagar',
                              'Salary': 70000,
                              'Designation':'Python Developer'},
               
              'CG0002':   {'Employee Name': 'Akash',
                              'Salary': 80000,
                              'Designation':'Data Scientist',
                          'Location':{"State":"Maharashtra",'City':'Pune'}},
               
              'CG0003':   {'Employee Name': 'Ajay',
                              'Salary': [60000,80000,90000],
                              'Designation':'ML Developer'}}

emp_details['CG0003']['Salary'][1]

80000