The operator can be defined as a symbol which is responsible for particular operation between two operands.

In [1]:
a = 10
b = 20
a+b

30

Python Operators ==>
                arithmetic
                comparison
                logical
                assignment
                bitwise
                identity
                membership

1. Comparison operators

In [2]:
a = 10

In [3]:
a = 20
b = 21
a==b

False

In [4]:
a = 20
b = 21
a!=b

True

Operator -- Name
== Equal
!= not equal
> greater than
< less than
>= Greater than or equal to
<= less than or equal to

In [6]:
s1 = 'python'
s2 = 'python'
s1==s2

True

In [7]:
s1 = 'python'
s2 = 'python'
s1!=s2

False

In [8]:
s1 = 'python'
s2 = 'class'
s1 != s2

True

In [9]:
a = 12
b = 12
c = 24
print(a==b)  # True
print(a!=c)  # True
print(c>a)   # True 
print(c<a)   # False
print(a>=b)  # True
print(a<=b)  # True

True
True
True
False
True
True

In [10]:
(a>b) and (a>c)

False

2. Logical operator
AND
OR
NOT

Priority:
not>and>or

In [12]:
x = False
y = True

print('x and y is:',x and y) # False
print('x or y is:',x or y)   # True
print('not x is:',not x)     # True  
print('not y is:',not y)     # False

x and y is: False
x or y is: True
not x is: True
not y is: False

In [13]:
a = 5
b = 6
c = 10
a < b and b < c   # True and True

True

In [14]:
a = 5
b = 6
c = 10
d = 20
a < b  and a < c and a < d and b < d  # True and True and True and True

True

In [15]:
a = 5
b = 6
c = 10
d = 20
a < b  and a < c and a < d and d < b # True and True and True and False

False

3. Arithmetic operators
Operator -- Name
+ Addition
- Subtraction
* Multipication
/ Division
% Modulus
** Exponentiation
// Floor division

Preference of arithmetic operators
() # PEMDAS
**
*,/ , //
+,-

Division(/) >> Gives output in float
Floor division(//) >> Gives output in integer

In [16]:
2+5

7

In [17]:
8-5

3

In [18]:
6/2

3.0

In [19]:
int(6/2)

3

In [20]:
6//2

3

In [21]:
7/2

3.5

In [22]:
7//2

3

In [23]:
7%2

1

In [24]:
8%2

0

In [25]:
8%3

2

In [26]:
10**2

100

In [27]:
10*6/4

15.0

In [28]:
a = 729 ** (1/3)
print(a)
round(a,2)

8.999999999999998

9.0

In [32]:
a = input('Enter the value:')
print('a = ',a,type(a))

Enter the value:5
a =  5 <class 'str'>

In [31]:
a = int(input('Enter the value:'))
print('a = ',a,type(a))

Enter the value:5
a =  5 <class 'int'>

In [33]:
num1 = int(input('Enter value of 1st number:'))
num2 = int(input('Enter the value of 2nd number:'))
print('-----------------------------------------------')
print('The addition of 2 numbers is:',num1+num2)   #25  
print('The subtraction of 2 numbers is:',num1-num2) #15
print('The multiplication of 2 numbers is:',num1*num2)  # 100
print('The division of 2 numbers is:',num1/num2)      # 4.0 
print('The floor division of 2 numbers is:',num1//num2) # 4
print('The exponential of 2 numbers is:',num1**num2)      
print('The modulus of 2 numbers is:',num1%num2)      #    0

Enter value of 1st number:25
Enter the value of 2nd number:5
-----------------------------------------------
The addition of 2 numbers is: 30
The subtraction of 2 numbers is: 20
The multiplication of 2 numbers is: 125
The division of 2 numbers is: 5.0
The floor division of 2 numbers is: 5
The exponential of 2 numbers is: 9765625
The modulus of 2 numbers is: 0

4. Assignment Operators
* Assignment operators are used in Python to assign values to variables
  Eg: a = 10 
Augmented Assignment Operator:
* It combines assignment operator with other logical operators like addition, multiplication etc.
* This operators that allows to write shortcut assignment statement

Operator -- Name -- Example -- equivalent
+= Addition          i +=9   i=i + 9       
-= Subtraction:      i-= 9
*= Multiplication    i *=9
/= Float division    i /=9
//= Integer division i //= 9
%= Remainder          i %=9
**= Exponent         i **=9

In [34]:
i = 18
print(i)
i+=8   # i = i+8
print(i)

18
26

In [35]:
# i = 18
i+=8   # i = i+8
print(i)

34

In [36]:
i-=8  # i = i-8
print(i)

26

In [37]:
i = 12
i*=8    # i = i*8
print(i)

96

In [ ]:
Membership operator

In [38]:
x = 121
list1 = [12,21,32,23,44,'Deccan']
print(x in list1)     
print(x not in list1) 
print(12 in list1)     
print(12 not in list1)

False
True
True
False

In [39]:
string = 'data science'
print('data' in string)  
print('Data' in string)

True
False

Identity operators
is       Return True if variable are the same object
is not   Return True if variable are not the same object

In [41]:
panjab = 'Chandigadh'
Hariyana = 'Chandigadh'
maharashtra = 'Mumbai'
print(panjab is maharashtra)   
print(panjab is Hariyana)      
print(panjab is not maharashtra)

False
True
True

In [42]:
a = 15
b = 15
a is b

True

In [45]:
c = 6
d = 5
c is d

False

In [48]:
id(c)

140736265425992

In [49]:
id(d)

140736265426312