# 1. For Loop

1. Perform same operation multiple times
2. Perform same operation multiple time with some variation
3. Loop Inside a Loop(Nested loop)

It works like an iterator
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
Sequence >> String, List, tuple, set, dict, range, numpy array, dataframe

In [ ]:
for variable in sequence:
    print(variable)
    statement1
    statement2
    
    
for index,item in enumerate(sequence):
    print(index,item)
    statement3
    statement4

# The range() Function

To loop through a set of code a specified number of times, we can use the range() function,

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

syntax : range(start,stop,stepsize)    default stepsize is 1

In [1]:
# single value in range fucntion

list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
# start and stop value in range function

list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
# Changing the stepsize in range fucntion

list(range(1,10,2))

[1, 3, 5, 7, 9]

In [4]:
# using range function display 'we are learning for loop' for 5 times

for i in range(5):
    print(i,'We are learning for loop')

0 We are learning for loop
1 We are learning for loop
2 We are learning for loop
3 We are learning for loop
4 We are learning for loop

In [5]:
# using range function display 'we are learning for loop' for 5 times

for i in range(1,6):
    print(i,'We are learning for loop')

1 We are learning for loop
2 We are learning for loop
3 We are learning for loop
4 We are learning for loop
5 We are learning for loop

In [6]:
# using range function display 'we are learning for loop' and 'python and data science' for 10 times

for i in range(10):
    print('we are learning for loop')
    print('python and data science')
    print('*'*30)

we are learning for loop
python and data science
******************************
we are learning for loop
python and data science
******************************
we are learning for loop
python and data science
******************************
we are learning for loop
python and data science
******************************
we are learning for loop
python and data science
******************************
we are learning for loop
python and data science
******************************
we are learning for loop
python and data science
******************************
we are learning for loop
python and data science
******************************
we are learning for loop
python and data science
******************************
we are learning for loop
python and data science
******************************

# For loop in string

In [7]:
# use for loop and access each char of the string
string = 'machine learning'

for i in string:
    print(i)

m
a
c
h
i
n
e

l
e
a
r
n
i
n
g

In [8]:
# for loop with enumerate
string = 'machine'

for index,char in enumerate(string):
    print(index,char)

0 m
1 a
2 c
3 h
4 i
5 n
6 e

In [9]:
# for loop with enumerate
string = 'machine'

for i,c in enumerate(string):
    print(i,c)

0 m
1 a
2 c
3 h
4 i
5 n
6 e

# For loop in list

In [10]:
# For loop
list1 = [10,20,30,14,26]

for item in list1:
    print(item)

10
20
30
14
26

In [11]:
# For loop with enumerate
list1 = [10,20,30,14,26]

for index,item in enumerate(list1):
    print(index,item)

0 10
1 20
2 30
3 14
4 26

In [12]:
# For loop with enumerate
list1 = [10,20,30,14,26]

for index,item in enumerate(list1,start=1):
    print(index,item)

1 10
2 20
3 30
4 14
5 26

# Find  out all the numbers between 0, 200 which are divisible by 7 or 8 or both

In [13]:
for i in range(1,201):
    if i%7==0 and i%8==0:
        print(i,'is divisible by 7 and 8')
        
    elif i%7==0:
        print(i,'is divisible by 7')
        
    elif i%8==0:
        print(i,'is divisible by 8')
        
    else:
        print(i,'is not divisible by 7 or 8')

1 is not divisible by 7 or 8
2 is not divisible by 7 or 8
3 is not divisible by 7 or 8
4 is not divisible by 7 or 8
5 is not divisible by 7 or 8
6 is not divisible by 7 or 8
7 is divisible by 7
8 is divisible by 8
9 is not divisible by 7 or 8
10 is not divisible by 7 or 8
11 is not divisible by 7 or 8
12 is not divisible by 7 or 8
13 is not divisible by 7 or 8
14 is divisible by 7
15 is not divisible by 7 or 8
16 is divisible by 8
17 is not divisible by 7 or 8
18 is not divisible by 7 or 8
19 is not divisible by 7 or 8
20 is not divisible by 7 or 8
21 is divisible by 7
22 is not divisible by 7 or 8
23 is not divisible by 7 or 8
24 is divisible by 8
25 is not divisible by 7 or 8
26 is not divisible by 7 or 8
27 is not divisible by 7 or 8
28 is divisible by 7
29 is not divisible by 7 or 8
30 is not divisible by 7 or 8
31 is not divisible by 7 or 8
32 is divisible by 8
33 is not divisible by 7 or 8
34 is not divisible by 7 or 8
35 is divisible by 7
36 is not divisible by 7 or 8
37 is not divisible by 7 or 8
38 is not divisible by 7 or 8
39 is not divisible by 7 or 8
40 is divisible by 8
41 is not divisible by 7 or 8
42 is divisible by 7
43 is not divisible by 7 or 8
44 is not divisible by 7 or 8
45 is not divisible by 7 or 8
46 is not divisible by 7 or 8
47 is not divisible by 7 or 8
48 is divisible by 8
49 is divisible by 7
50 is not divisible by 7 or 8
51 is not divisible by 7 or 8
52 is not divisible by 7 or 8
53 is not divisible by 7 or 8
54 is not divisible by 7 or 8
55 is not divisible by 7 or 8
56 is divisible by 7 and 8
57 is not divisible by 7 or 8
58 is not divisible by 7 or 8
59 is not divisible by 7 or 8
60 is not divisible by 7 or 8
61 is not divisible by 7 or 8
62 is not divisible by 7 or 8
63 is divisible by 7
64 is divisible by 8
65 is not divisible by 7 or 8
66 is not divisible by 7 or 8
67 is not divisible by 7 or 8
68 is not divisible by 7 or 8
69 is not divisible by 7 or 8
70 is divisible by 7
71 is not divisible by 7 or 8
72 is divisible by 8
73 is not divisible by 7 or 8
74 is not divisible by 7 or 8
75 is not divisible by 7 or 8
76 is not divisible by 7 or 8
77 is divisible by 7
78 is not divisible by 7 or 8
79 is not divisible by 7 or 8
80 is divisible by 8
81 is not divisible by 7 or 8
82 is not divisible by 7 or 8
83 is not divisible by 7 or 8
84 is divisible by 7
85 is not divisible by 7 or 8
86 is not divisible by 7 or 8
87 is not divisible by 7 or 8
88 is divisible by 8
89 is not divisible by 7 or 8
90 is not divisible by 7 or 8
91 is divisible by 7
92 is not divisible by 7 or 8
93 is not divisible by 7 or 8
94 is not divisible by 7 or 8
95 is not divisible by 7 or 8
96 is divisible by 8
97 is not divisible by 7 or 8
98 is divisible by 7
99 is not divisible by 7 or 8
100 is not divisible by 7 or 8
101 is not divisible by 7 or 8
102 is not divisible by 7 or 8
103 is not divisible by 7 or 8
104 is divisible by 8
105 is divisible by 7
106 is not divisible by 7 or 8
107 is not divisible by 7 or 8
108 is not divisible by 7 or 8
109 is not divisible by 7 or 8
110 is not divisible by 7 or 8
111 is not divisible by 7 or 8
112 is divisible by 7 and 8
113 is not divisible by 7 or 8
114 is not divisible by 7 or 8
115 is not divisible by 7 or 8
116 is not divisible by 7 or 8
117 is not divisible by 7 or 8
118 is not divisible by 7 or 8
119 is divisible by 7
120 is divisible by 8
121 is not divisible by 7 or 8
122 is not divisible by 7 or 8
123 is not divisible by 7 or 8
124 is not divisible by 7 or 8
125 is not divisible by 7 or 8
126 is divisible by 7
127 is not divisible by 7 or 8
128 is divisible by 8
129 is not divisible by 7 or 8
130 is not divisible by 7 or 8
131 is not divisible by 7 or 8
132 is not divisible by 7 or 8
133 is divisible by 7
134 is not divisible by 7 or 8
135 is not divisible by 7 or 8
136 is divisible by 8
137 is not divisible by 7 or 8
138 is not divisible by 7 or 8
139 is not divisible by 7 or 8
140 is divisible by 7
141 is not divisible by 7 or 8
142 is not divisible by 7 or 8
143 is not divisible by 7 or 8
144 is divisible by 8
145 is not divisible by 7 or 8
146 is not divisible by 7 or 8
147 is divisible by 7
148 is not divisible by 7 or 8
149 is not divisible by 7 or 8
150 is not divisible by 7 or 8
151 is not divisible by 7 or 8
152 is divisible by 8
153 is not divisible by 7 or 8
154 is divisible by 7
155 is not divisible by 7 or 8
156 is not divisible by 7 or 8
157 is not divisible by 7 or 8
158 is not divisible by 7 or 8
159 is not divisible by 7 or 8
160 is divisible by 8
161 is divisible by 7
162 is not divisible by 7 or 8
163 is not divisible by 7 or 8
164 is not divisible by 7 or 8
165 is not divisible by 7 or 8
166 is not divisible by 7 or 8
167 is not divisible by 7 or 8
168 is divisible by 7 and 8
169 is not divisible by 7 or 8
170 is not divisible by 7 or 8
171 is not divisible by 7 or 8
172 is not divisible by 7 or 8
173 is not divisible by 7 or 8
174 is not divisible by 7 or 8
175 is divisible by 7
176 is divisible by 8
177 is not divisible by 7 or 8
178 is not divisible by 7 or 8
179 is not divisible by 7 or 8
180 is not divisible by 7 or 8
181 is not divisible by 7 or 8
182 is divisible by 7
183 is not divisible by 7 or 8
184 is divisible by 8
185 is not divisible by 7 or 8
186 is not divisible by 7 or 8
187 is not divisible by 7 or 8
188 is not divisible by 7 or 8
189 is divisible by 7
190 is not divisible by 7 or 8
191 is not divisible by 7 or 8
192 is divisible by 8
193 is not divisible by 7 or 8
194 is not divisible by 7 or 8
195 is not divisible by 7 or 8
196 is divisible by 7
197 is not divisible by 7 or 8
198 is not divisible by 7 or 8
199 is not divisible by 7 or 8
200 is divisible by 8

In [14]:
# Take a number as input and check whether that number is even or odd

a = int(input('Enter the number:'))

if a%2==0:
    print('Even number')

else:
    print('Odd number')

Enter the number:8
Even number

In [16]:
# Take a number as input and check whether that number is even or odd

a = int(input('Enter the number:'))

if a%2==0:
    print('Even number')

else:
    print('Odd number')

Enter the number:7
Odd number

# Nested for loop

for loop inside for loop

for variable1 in sequence1:  # 5
    statement1
    statement2
    for variable2 in sequence2: # 2
        statement3 
        statement4

In [17]:
# print i,j

for i in range(1,5): # i = 4
    print('i =',i)
    
    for j in range(1,3): # j = 1, j = 2
        print('j =',j)

i = 1
j = 1
j = 2
i = 2
j = 1
j = 2
i = 3
j = 1
j = 2
i = 4
j = 1
j = 2

In [18]:
# print i,python

for i in range(1,5): # i = 1 to 4
    print('i =',i)
    
    for j in range(1,4):
        print('python')

i = 1
python
python
python
i = 2
python
python
python
i = 3
python
python
python
i = 4
python
python
python

In [19]:
# print i,python,++++++

for i in range(1,5): # i = 1 to 4
    print('i =',i)
    
    for j in range(1,4):
        print('python')
        print('++++++')

i = 1
python
++++++
python
++++++
python
++++++
i = 2
python
++++++
python
++++++
python
++++++
i = 3
python
++++++
python
++++++
python
++++++
i = 4
python
++++++
python
++++++
python
++++++

# While Loop

i = initial value of i 
while condition: 
    statement1
    statement2
    increment

# Difference between for loop and while  loop

# For loop
1. When number of iterations are known
2. Increment is done automatically for each iteration
3. It stops when all iterations are completed

# While loop
1. When number of iterations are not known
2. Increment is done manually for each iteration
3. It stops when the condition becomes false

In [20]:
# Using for loop print i for 5 times

for i in range(0,5):
    print(i)

0
1
2
3
4

In [ ]:
# Using while loop print i for 5 times

# i = initial value of i 
# while condition: 
#     statement1
#     statement2
#     increment

i = 0
while i<5:  # i = 5
    print(i)
    i+=1

In [21]:
# use for loop with range 1,12,2

for i in range(1,12,2):
    print(i)

1
3
5
7
9
11

In [22]:
# use while loop for above

i = 1
while i<12:
    print(i)
    i+=2

1
3
5
7
9
11

In [23]:
# using for loop print 'we are testing for loop' for 5 times

for i in range(5):
    print(i,'we are testing for loop')

0 we are testing for loop
1 we are testing for loop
2 we are testing for loop
3 we are testing for loop
4 we are testing for loop

In [24]:
# using while loop print 'we are testing while loop' for 5 times

i = 0
while i<5:
    print(i,'We are testing while loop')
    i+=1

0 We are testing while loop
1 We are testing while loop
2 We are testing while loop
3 We are testing while loop
4 We are testing while loop

# Loop Control Statement

1. Break Statement
   It is used to stop the for loop after the given iteration
    It is used to exit the loop

In [26]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [27]:
for i in range(1,10): # i = 5
    print(i)
    if i==5:
        break

1
2
3
4
5

In [28]:
for i in range(1,10): # i = 5
    print(i)
    if i==5:
        print('python1')
        break
        print('python2')

1
2
3
4
5
python1

2. Continue Statement
  It will stop the current iteration and continue with the next iteration

In [29]:
for i in range(1,10): # i = 5
    print(i)
    if i==5:
        print('python1')
        continue
        print('python2')

1
2
3
4
5
python1
6
7
8
9