# Introduction

Python Can be used on a server to create web app.
Libraries like Pandas, Numpy, Seaborn
Available most of Platform
More Functionality with less coding
Data structures are user friendly

In [ ]:
DataTypes:
    Numberic - int, float, complex
    string - str
    Binary types - bytes, bytearray, memoryview
    squence types- list, tuple, range
    Mapping data - dict
    booelan types - bool (True / False)
    Set data types - set, frozenset

Indentation:
  refer to space at the beginning of code line.    
  Indentation indicate a block of code.    
  colon(:) is used for creating a code block.
  Same indentation level as single block of code.    
    "Tab" button give 4 space

# Print Function

In [3]:
# lets print first code.
print("HELLO WORLD")

HELLO WORLD

In [ ]:
"HELLO WORLD" # something written in double quote is string

To comment in python we use >> # 
ctrl + / 
triple quotes

In [5]:
# Let print variables and expression
a = 20 # a is variable and 20 is value.
b = 15
print (a) 
print (b) #variable

20
15

In [6]:
print (a+b) #expression
print (a-b) #we can use multiple(*) divide(/)

35

In [9]:
# we can print combination of text and variables
a = 20
b = 8
print ('Value of a is', a) #use comma between string and variable or expression
print ('addition is ',a+b)

Value of a is 20
addition is  28

Indentation:
    after I click enter after colon. I get 4 space.